<!DOCTYPE html>

@{
    Layout = null;
}

@model List<Reservation.Entities.Client>;
@{
    ViewData["Title"] = "Home Page";
}


<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Mysite</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">My Restaurant</div>
            <nav   class="nav" >
            
                @* <a class="nav__link" href="" target="_blank" >Забронировать столик</a> *@
                @Html.ActionLink("Войти от имени администратора   ", "AdminLogining", "Reservation" ,null, new { @class ="nav__link" })
                @Html.ActionLink("Забронировать столик  ", "Index", "Reservation" ,null, new { @class ="nav__link"})
                @Html.ActionLink("Удалить бронь", "DeleteClient", "Client" ,null, new { @class ="nav__link"})
                @Html.ActionLink("О нас", "Success", "Home" ,null, new { @class ="nav__link"})
            </nav>
        </div>
    </div>
</header>
<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <h1 class="intro__title">Welcome to DreaM</h1>
        </div>>
    </div>
</div>
</body>
</html>