<!DOCTYPE html>

@{
    Layout = null;
}


@model Reservation.Entities.Client;
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Mysite</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<body style="background-color: #9fcdff">
<div class="header__logo" title="На главную" >
    @Html.ActionLink("My Restourant", "Index", "Home", null, new {@class = "nav__link"})
</div>
<p ><h2 style="margin-left: 20px">Курсовая работа "Бронирование столиков онлайн"</h2></p>
<div style="margin-left: 20px;width: 1110px">
    <pre  >
dàjiā好hǎo！
我wǒ叫jiào伊拉Yī lā。 我wǒ是shì学生xuésheng。 我wǒ在zài大学dàxué学习xuéxí外语wàiyǔ， 我wǒ会huì说shuō英yīng语yǔ和hé汉语hànyǔ。 因为yīn wèi我wǒ和hé我wǒ的de朋友péngyou学习xuéxí汉语hànyǔ，
 
所以suǒyǐ， 我们wǒmen要yào在zài假期jiàqī去qù中国Zhōng guó了解liǎojiě中国Zhōng guó文化wénhuà， 练习liànxí汉语hànyǔ口语kǒuyǔ。 安德烈Ān dé liè说shuō，
 
我们wǒmen在zài中国Zhōng guó可以kěyǐ报bào语言yǔyán学校xuéxiào， 佩佳Pèi jiā找到zhǎodào了le一yī所suǒ学校xuéxiào， 于是yúshì我wǒ买mǎi了le飞机fēijī票piào。
 
卡佳Kǎ jiā在zài宾馆bīnguǎn订dìng了le两liǎng间jiān房间fángjiān。 拿到ná dào签证qiānzhèng以后yǐhòu， 我们wǒmen就jiù出发chūfā了le。 今天jīntiān（二月èr yuè二èr日rì，
 
星期一xīngqī yī）是shì我们wǒmen在zài北京Běijīng的de第dì一yī天tiān。二月èr yuè二èr日rì， 星期一xīngqī yī下午xiàwǔ两liǎng点diǎn十shí分fēn， 我们wǒmen到dào了le北京Běijīng首都shǒudū国际guójì机场jīchǎng。
 
这zhè给gěi我wǒ的de第dì一yī印象yìnxiàng如何rúhé？ 这儿zhèr是shì什么shénme：是shì机场jīchǎng还hái是shì天堂tiāntáng？两liǎng点diǎn三sān十shí分fēn， 我们wǒmen接受jiēshòu护照hùzhào检查jiǎnchá。 

这zhè是shì怎么回事zěnme huí shì？ 这zhè是shì旅客lǚkè在zài排队páiduì吗ma？ 我们wǒmen走近zǒu jìn柜台guìtái， 盖gài了le印yìn。 边防警察biānfáng jǐngchá很hěn热情rèqíng。
 
他tā问wèn我wǒ是shì哪nǎ国guó人rén以及yǐjí来lái中国Zhōng guó的de目的mùdì是shì什么shénme。 我wǒ用yòng汉语hànyǔ回答huídá， 我wǒ来lái中国Zhōng guó学习xuéxí汉语hànyǔ， 他tā很hěn高兴gāoxìng。
 
两liǎng分fēn钟zhōng以后yǐhòu， 我们wǒmen就jiù去qù取qǔ行xíng李Lǐ了le。两liǎng点diǎn五wǔ十shí分fēn， 我们wǒmen取qǔ了le行xíng李Lǐ， 往wǎng出口chūkǒu去qù了le。 我wǒ喜欢xǐhuan这儿zhèr。
 
我wǒ问wèn朋友péngyou喜欢xǐhuan不bù喜欢xǐhuan这儿zhèr， 他们tāmen回答huídá他们tāmen也yě喜欢xǐhuan。快轨站kuài guǐ zhàn在zài哪儿nǎr？ 快轨站kuài guǐ zhàn在zài楼lóu下xià。 我们wǒmen去qù了le楼lóu下xià，
 
买mǎi了le快轨kuài guǐ票piào。 因为yīn wèi我们wǒmen是shì学生xuésheng， 所以suǒyǐ我们wǒmen买mǎi的de票piào并bìng不bù贵guì。六liù点diǎn十shí分fēn， 我们wǒmen到dào了le北京Běijīng。
 
因为yīn wèi我们wǒmen很hěn累lèi， 所以suǒyǐ我们wǒmen想xiǎng找到zhǎodào我们wǒmen的de宾馆bīnguǎn休息xiūxi。 北京Běijīng很hěn大dà， 所以suǒyǐ我们wǒmen用yòng地图dìtú找zhǎo宾馆bīnguǎn。
 
我们wǒmen可以kěyǐ打的dǎ dī去qù， 但dàn我们wǒmen有yǒu地图dìtú， 所以suǒyǐ我们wǒmen走路zǒulù去qù。晚上wǎnshang八bā点diǎn四sì十shí七qī分fēn， 乌拉wūlā！ 我们wǒmen没有méiyǒu迷路mílù！
 
</pre>
</div>
<div style="margin-left: 20px">
    <textarea>Оставьте свой отзыв</textarea><br>
    <input type="submit" value="Отправить"  style="margin-left: -1px" class="nav__link">
</div>
</body>
</html>