<!DOCTYPE html>

@{
    Layout = null;
}
@using System.Web.Optimization
@using Reservation.Services
@model WebApp.ViewModel.ClientReservationViewModel;
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Mysite</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
    
        function checkAvailability (){
           
            var fromDate = document.getElementById("fromDate").value;
            var toDate = document.getElementById("toDate").value;
            $.ajax({url: `/Reservation/CheckIfDateIsAvailable?from=${fromDate}&to=${toDate}`, success: function(result){
                $('#results').text(result === true ? 'Это время свободно' : 'Это время занято');
            }});
        }
     </script>

    <script type="text/javascript">
        function reservation() {

                  var from = document.getElementById("FromReservationDate").value;
                  var to = document.getElementById("ToReservationDate").value;
                  var name = document.getElementById("Name").value;
                  var surname = document.getElementById("Surname").value;
                  var phoheNumber = document.getElementById("PhoneNumber").value;
                 var quantity = document.getElementById("Quantity").value;
                 $.ajax({url: `/Reservation/Reservation?FromReservationDate=${from}&ToReservationDate=${to}
                 &Name=${name}&Surname=${surname}&PhoneNumber=${phoheNumber}&Quantity=${quantity}`, success: function(result1)
                     {
                         if (result1 > 0) {
                             $('#results1').text(`Вы успешно забронировали столик.Ваш ID` + result1);
                         }
                         else if (result1 === 0) {
                             $('#results1').html('Бронь не может быть больше двух часов. <br/> Или это время занято');
                             }
                         else if (result1 === -1) {
                             $('#results1').text('Заполните все поля');
                         }
                         else if (result1 === -2) {
                             $('#results1').text('Введите корректно номер телефона');
                         }
                         else if (result1 === -3) {
                             $('#results1').text('Число персон не может привышать 15');
                         }

                 }});
             }
    </script>
</head>

<body>
<header class="header">
         <div class="container">
             <div class="header__inner">
                 <div class="header__logo" title="На главную">
                 @Html.ActionLink("My Restaurant", "Index", "Home", null, new {@class = "nav__link"})
                 </div>
             </div>
         </div>
     </header>

<div class="intro">

    <div style="height: 500px; width: 250px; padding-left: 15px; background-color: white;border-radius: 10px;margin-left: 900px;top: 200px;position: absolute;  ">
        <header>Введите данные для брони</header><br>
        <h4>
            <label> Бронь с </label><br>
            <input type="datetime-local" name="Бронь с" id="FromReservationDate"/><br>
            <label> Бронь до </label><br>
            <input type="datetime-local" name="Бронь до" id="ToReservationDate"/><br>
            <label> Имя </label><br>
            <input type="text" name="Имя" id="Name"/><br>
            <label> Фамилия </label><br>
            <input type="text" name="Фамилия" id="Surname"/><br>
            <label>На сколько персон</label><br>
            <input type="text" id="Quantity"/><br>
            <label> Номер телефона </label><br>
            <input type="number" name="Номер телефона (375293498702)" id="PhoneNumber"/><br><br>
            <input style=" background-color: #98fff0; font-weight: bold;border-color: #98fff0" type="submit" value="Забронировать" onclick="reservation()" class="nav__link"/><br>
            <div style="margin-right: 20px; font-weight: bold" id="results1"></div>
        </h4>
    </div>

    <div style=" padding-left: 15px;height: 250px; width: 250px;background-color: white;border-radius: 10px;margin-left: 500px; margin-top: -285px">
        <header>Проверьте свободна ли дата</header><br>
        <h4>
            <label>С</label><br>
            <input type="datetime-local" name="С" id="fromDate"/><br>
            <label>По</label><br>
            <input type="datetime-local" name="До" id="toDate"/><br><br>
            <input style="  background-color: #98fff0; font-weight: bold;border-color: #98fff0" type="submit" value="Поиск" onclick="checkAvailability() " class="nav__link"/>
            <div style="margin-right: 20px"  id="results"></div>
        </h4>
    </div>


</div>

</body>
</html>