<!DOCTYPE html>

@{
    Layout = null;
}


@model Reservation.Entities.Reserv;
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Mysite</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">My Restourant</div>
        </div>
    </div>
</header>
<div class="intro">
    <div class="container">
        <div class="intro__inner">

            @using (Html.BeginForm("GetReservation", "Reservation", FormMethod.Post))
            {
                <p>
                    @Html.LabelFor(m => m, "Дата")<br/>
                    @Html.TextBoxFor(model => model.ReservationDate, "{0:dd/MM/yyyy}")
                </p>
                <p>
                    <input type="submit" value="asdsadas"/>
                </p>
            }
        </div>>
    </div>
</div>

</body>
</html>